.card {
    cursor: default;
    background: var(--mint);
    width: fit-content;
    height: fit-content;
    padding: 2em 2.5em;

    .card__header {
        font-size: 3em;
    }
}

// Mobile
@media (max-width: 600px) {
    .card {
        padding: .5em .5em;
    
        .card__header {
            font-size: 1.5em;
        }
    }
}