.card {
    cursor: default;
    background: var(--mint);
    width: fit-content;
    height: fit-content;
    padding: 2em 2.5em;

    @media (width < 600px) {
        padding: .5em .5em;
    }

    .card__header {
        font-size: 3em;

        @media (width < 600px) {
            font-size: 1.5em;
        }
    }
}