<section class="main-wrapper">
    <!-- Portrait -->
    <img src="assets/images/portrait.png">

    <!-- Main card -->
    <ptf-card>
        <ng-container card-header>
            <p>
                Full Stack Engineer<br>
                at <a [href]="company.url">{{company.name}}</a><br>
                Mentor
            </p>
        </ng-container>
        <ng-container card-body>
            <span>Angular expert, forever student</span>
        </ng-container>
    </ptf-card>
</section>

<section class="bio-wrapper">
    <div class="bio">
        <!-- Who am I? -->
        <span class="display">{{aboutMe.whoAmI.title}}</span>
        <p>{{aboutMe.whoAmI.info}}</p>

        <!-- What do I do? -->
        <span class="display">{{aboutMe.whatDoIDo.title}}</span>
        <p>{{aboutMe.whatDoIDo.info}}</p>
    </div>

    <!-- Snowy mountain -->
    <img id="snowy-mtn" src="assets/images/carezza-min.png">
</section>
