.mantra-wrapper {
    cursor: default;
    padding: .25em;
    text-align: center;
    color: #FFFFFF;
    font-size: small;

    @media (width < 600px) {
        font-size: x-small;
    }
}

.main-header {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    padding: 2em 4em;

    @media (width < 600px) {
        font-size: medium;
        padding: .5em 1em;
    }

    // Logo (left side)
    div {
        cursor: pointer;
        font-size: x-large;

        @media (width < 600px) {
            font-size: medium;
        }
    }

    // Navigator (right side) - Desktop only
    .main-nav__item {
        display: inline-block;
        padding-left: 2em;
        
        a {
            padding: 3px 0;
        }
    }
}

// Hamburger (Mobile menu toggle)
#hamburger-icon {
    cursor: pointer;
    font-size: 20px;
}

// Mobile only menu
.mobile-menu {
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--bg-color) 50%, var(--skyblue), var(--mint));

    // Mobile menu closing icon
    #close-icon {
        display: block;
        text-align: end;
        padding-top: 1.25em;
        padding-right: .75em;
        font-size: 20px;
    }

    // Mobile navigator
    .mobile-nav {
        display: flex;
        align-items: center;
        flex-direction: column;

        .mobile-nav__list {
            text-align: center;
        }
    
        .mobile-nav__item {
            padding-bottom: 2em;
        }
    }
}

// Common nav styles
ul {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
        text-decoration: none;
        font-weight: bold;
        font-size: large;

        &:hover, :active {
            border-bottom: 5px solid;
        }
    }
}
