<div class="purple-gradient mantra-wrapper" *ngIf="!showMobileMenu">
    <span>✨💫 {{randomMantra}} 💫✨</span>
</div>

<!-- Mobile only view -->
<div class="mobile-menu" *ngIf="showMobileMenu">
    <span (click)="toggleMobileMenu(false)"
        id="close-icon" class="material-symbols-outlined">
        close
    </span>
    <nav class="mobile-nav">
        <ul class="mobile-nav__list">
            <li class="mobile-nav__item" *ngFor="let item of navItems">
                <a class="display" (click)="openPage(item)">{{item.displayName}}</a>
            </li>
        </ul>
    </nav>
</div>

<header class="main-header" *ngIf="!showMobileMenu">
    <!-- Logo (left side) -->
    <div>
        <a (click)="openPage({route: ''})" class="main-header__brand display">
            ⭐️ Andrea Rotesi
        </a>
    </div>

    <!-- Hamburger icon (Mobile) -->
    <ng-container *ngIf="isMobile; else desktopHeader">
        <span *ngIf="!showMobileMenu" 
            (click)="toggleMobileMenu(true)" 
            id="hamburger-icon" class="material-symbols-outlined">
            menu
        </span>
    </ng-container>

    <!-- Navigator (Desktop) -->
    <ng-template #desktopHeader>
        <nav class="main-nav">
            <ul class="main-nav__list">
                <li class="main-nav__item" *ngFor="let item of navItems">
                    <a class="display" (click)="openPage(item)">{{item.displayName}}</a>
                </li>
            </ul>
        </nav>
    </ng-template>
</header>
