<div class="purple-gradient mantra-wrapper">
    <span>✨💫 {{randomMantra}} 💫✨</span>
</div>

<header class="main-header">
    <!-- Logo (left side) -->
    <div>
        <a [routerLink]="" class="main-header__brand display">
            ⭐️ Andrea Rotesi
        </a>
    </div>
    <!-- Navigator (right side) -->
    <nav class="main-nav">
        <ul class="main-nav__list">
            <li class="main-nav__item" *ngFor="let item of navItems">
                <a *ngIf="!item.fileLocation" class="display" [routerLink]="item.route">{{item.name}}</a>
                <a *ngIf="item.fileLocation" class="display" (click)="openResume(item.fileLocation)">{{item.name}}</a>
            </li>
        </ul>
    </nav>
</header>