@import url(typography.scss);
@import url(palette.scss);

html, body {
    margin: 0;
    height: 100%;
    background-color: var(--bg-color);
}

a {
    cursor: pointer;
    color: #000000;
}

.purple-gradient {
    background: linear-gradient(to right, var(--blue), var(--purple), var(--pink));
}

.aqua-gradient {
    background: linear-gradient(to right, var(--mint) 40%, var(--skyblue), var(--lightblue));
}
